<div class="content">

    <h3>List of items - {{connectionStatus}}</h3>
    <div class="content-box">
    <mat-card *ngFor="let post of posts">
      <img src="https://posts.micafila.com/uploads/POST/actual/909e6132-6f20-4bdb-825c-dd21e7e072fa.jpg">
      <mat-card-content class="card-content">{{post}}</mat-card-content>
    </mat-card>
    <!-- <ul>
      <li *ngFor="let post of posts">{{post}}</li>
    </ul> -->
  </div>

  <input [(ngModel)]="title" placeholder="title">
  <input [(ngModel)]="body" placeholder="body">
  <!-- <button (click)="postData()">Submit</button> -->
  <!-- <button (click)="addToHomeScreen()" #pwaInstallbtn>Add to home screen</button> -->
  <router-outlet></router-outlet>

</div>
